section#portfolio.cog-content.toRight
  .inner
    .container
      .row
        .col.sm-10.offset-sm-1
          .header
            h2.cog-header
              span.inner
                span Portfolio
          .main
            ul.cog-gallery-filters
              li
                a(href="*") All
              li
                a(href="createit") createIT
              li
                a(href="solodev") SoloDev
              li
                a(href="sweetie") Sweetie
              li
                a(href="fun") Fun Projects
            p.portfolio-help You can drag and drop like a boss or double click to go to chosen page.
                a(href="#")
                  i.fa.fa-close
            .cog-gallery
              .item.itemWide.createit
                a(href="http://jugas.html.themeforest.createit.pl")
                  img(src="https://lh3.googleusercontent.com/hrnj8oyOvPYh-cssAltsTKwebPoXnfTujdSKkUu0yRQ=w480-h240-no" alt="")
              .item.itemSmall.grid-sizer.createit
                a(href="http://fishtank.splash.html.themeplayers.net/")
                  img(src="https://lh3.googleusercontent.com/-HqYlSysdy8ui3csRQLAhmfhJajw439HkAH95ZzzCdI=s240-no" alt="")
              .item.itemWide.createit
                a(href="http://rentica.html.themeforest.createit.pl/")
                  img(src="https://lh3.googleusercontent.com/XdyyNwZFj79nEUiwNmF0IFNRoJmZfkeT7f-2hK6Kz6k=w480-h240-no" alt="")
              .item.itemSmall.fun
                a(href="http://exihuatl.github.io/lpscenter/")
                  img(src="https://lh3.googleusercontent.com/ePo8-uzRr7rrS9QgW2kO21dEGqlt4ee_S3hcqzN5d2o=s240-no" alt="")
              .item.itemSmall.fun
                a(href="http://exihuatl.github.io/adventuretime/")
                  img(src="https://lh3.googleusercontent.com/Sj_XZKVMa9yghFqh8U3-jcZia9-emESF-2c-1WrKsis=s240-no" alt="")
              .item.itemSmall.solodev
                a(href="http://www.miamibeachapi.com/")
                  img(src="https://lh3.googleusercontent.com/tcauy76lCP9x3JauBrqpCuPFp8TEfI-gF-e93ErvHU4=s240-no" alt="")
              .item.itemWide.solodev
                a(href="http://www.hsagolden.com/")
                  img(src="https://lh3.googleusercontent.com/paEmPpEuYkFtw_fF3H5O-lW-J7KwsitAeFQ-NUzw7Ag=w480-h240-no" alt="")
              .item.itemSmall.sweetie
                a(href="http://arena.test.createit.pl/")
                  img(src="https://lh3.googleusercontent.com/k1sRp9MGjM9c2WT41vuhA6mwkUGsjecTBB0ot5ymtx0=s240-no" alt="")
              .item.itemSmall.createit
                a(href="http://petlovers.splash.themeplayers.net/")
                  img(src="https://lh3.googleusercontent.com/6gjIhANzFQ8KTekACmjKf64oiTdw-OubZ6Cn9NwKLCo=s240-no" alt="")
              .item.itemSmall.sweetie
                a(href="http://sweetie.test.createit.pl/")
                  img(src="https://lh3.googleusercontent.com/-JuvTIZ-JDFmd7R8d4UBI-dlThrE8efC4zwh1pAFn3o=s240-no" alt="")
              .item.itemSmall.solodev
                a(href="http://solodev.test.createit.pl/vcso/HTML/index.html")
                  img(src="https://lh3.googleusercontent.com/U4N5oJSNYvGzkfq5gCf6cWA0LvgwfeQoXNviwLi8rXk=s240-no" alt="")
              .item.itemWide.solodev
                a(href="http://solodev.test.createit.pl/ocoa2/HTML/index.html")
                  img(src="https://lh3.googleusercontent.com/ZjUc360tMljRcKmuq3Cu5918UcNXEqi1yi7M_aGi7oc=w480-h240-no", alt="")
              .item.itemSmall.createit
                a(href="http://meinmahlsdorf.de/")
                  img(src="https://lh3.googleusercontent.com/1aP12OXAd_ZQ68kLJp_7qif8JHYMku3wbF9gBLcYKC0=s240-no" alt="")
              .item.itemSmall.solodev
                a(href="http://solodev.test.createit.pl/fdf/HTML/index.html")
                  img(src="https://lh3.googleusercontent.com/PmNTZaK3kdIKqFD_IbgBs_6UeQXOuvGA3rG7S46kT-I=s240-no" alt="")
              .item.itemSmall.createit
                a(href="http://paypalshop.codecanyon.createit.pl/")
                  img(src="https://lh3.googleusercontent.com/eYs_XRsyAERnvojVdm9kmMtaG7B8hctg6-wFm8qBN_g=s240-no" alt="")
