section#resume.cog-content.toLeft
  .inner
    .container
      .row
        .col.sm-10.offset-sm-1
          .header
            h2.cog-header
              span.inner
                span Resume
          .main
            .row.cog-timeline-wrapper
              .col.md-6.cog-timeline.cog-timeline--left
                i.fa.fa-graduation-cap
                h3 Education
                ul.cog-timelineList
                  li
                    span March 06, 2014
                    h4 Engineering
                    p Uniwersytet Technologiczno-Humanistyczny im. Kazimierza Puławskiego
                  li
                    span April 26, 2010
                    h4 Technician
                    p Zespół Szkół Elektronicznych im. Bohaterów Westerplatte
              .col.md-6.cog-timeline.cog-timeline--right
                i.fa.fa-briefcase
                h3 Work Work
                ul.cog-timelineList
                  li
                    span November 05, 2014
                    h4 createIT
                    p We create IT. Web applications and websites to be precise.
                  li
                    span June 27, 2014
                    h4 Freelance
                    p Lorem ipsum selfie projects for fun, profit and educational purposes. Everybody has to start somehow.
            h3.cog-header
              span.inner
                span Skills
            .row
              .col.sm-3.xs-6
                .cog-graphBox
                  .cog-graphBox-graph
                    canvas.cog-pieChart(width='100', height='100', data-ct-percentage='90')
                    span 96
                  .cog-graphBox-content
                    h4 HTML
              .col.sm-3.xs-6
                .cog-graphBox
                  .cog-graphBox-graph
                    canvas.cog-pieChart(width='100', height='100', data-ct-percentage='90')
                    span 89
                  .cog-graphBox-content
                    h4 CSS
              .col.sm-3.xs-6
                .cog-graphBox
                  .cog-graphBox-graph
                    canvas.cog-pieChart(width='100', height='100', data-ct-percentage='90')
                    span 77
                  .cog-graphBox-content
                    h4 JS
              .col.sm-3.xs-6
                .cog-graphBox
                  .cog-graphBox-graph
                    canvas.cog-pieChart(width='100', height='100', data-ct-percentage='90')
                    span 53
                  .cog-graphBox-content
                    h4 PHP
            h3.cog-header
              span.inner
                span Advanced
            .cog-progress-container
              .cog-progress(data-percent="88")
                h4 Jade
                .cog-progress-bar
                  span 88%
              .cog-progress(data-percent="97")
                h4 Stylus
                .cog-progress-bar
                  span 97%
              .cog-progress(data-percent="74")
                h4 Coffee
                .cog-progress-bar
                  span 74%
              .cog-progress(data-percent="83")
                h4 Sass
                .cog-progress-bar
                  span 83
