article.content__item.u-bg--violet
  h2 About Me

  p I am a polish guy who plays too much video games...<br>
    | I work in createIT where I can create amazing websites and learn new stuff.<br>
    | If im not playing or working (not much time left) I usually watch some series, read books, go to cinema or waste time on 9gag. I like comic book movies, all kinds of music (mostly Lidsey Stirling <3) and Blizzard.
