aside.sidebar#sidebar
  img.portrait(src="./assets/images/portrait.jpg", alt="Portrait")
  h1 Patryk Sadza

  address.sidebar__address
    span Email:
    a(href="mailto:patryk.sadza@gmail.com") patryk.sadza@gmail.com

    span Skype:
    a(href="skype:patryk.sadza?userinfo") patryk.sadza

  ul.socials.sidebar__socials
    li: a.linkedin(href="https://www.linkedin.com/in/patryk-sadza-5bb9a7104" target="_blank"): i.fa.fa-linkedin
    li: a.facebook(href="https://www.facebook.com/patryk.sadza" target="_blank"): i.fa.fa-facebook
    li: a.steam(href="http://steamcommunity.com/id/Exihuatl" target="_blank"): i.fa.fa-steam
