

@import './variables';
@import './parts/content';
@import './parts/grid';
@import './parts/sidebar';

body
  width 100%
  overflow-x hidden
  overflow-y scroll
body
  margin 0
  background-size cover
  background-attachment fixed
  font-size 15px
  color white
  font-family 'Roboto', sans-serif
*
  box-sizing border-box
figure
  margin 0

.btn
  padding 15px

/* helper class when showing content */
.noscroll {
  overflow: hidden;
}


.u-bg--violet
  background-color $violet
.u-bg--orange
  background-color $orange
.u-bg--green
  background-color $green
.u-bg--blue
  background-color $blue
.u-bg--red
  background-color $red
.u-bg--pink
  background-color $pink
