mixin gridItem(icon, title, bg)
  figure.grid__item(class='u-bg--' + bg data-bg='u-bg--' + bg)
    i.fa(class='fa-' + icon)
    .loader
    h2.title.title--preview= title


extends parts/base
block body

  .changing
    span Website is changing.<br>Stay tuned.

  #scene
    #emitter

  .container
    h1 Patryk Sadza
      small Front-End Developer

    .menu
      .menu-wrapper
        button.menu-toggle-button(style="background: #ffffff")
          img.menu-toggle-icon(src="./assets/jelly-icons/PNG/Ring@120w.png", alt="")
