.cog-blogPost-wrapper
  .cog-blogPost
    .cog-blogPost-media
      .cog-blogPost-slick
        .item
          img(src="dist/images/header-sunset.jpg" alt="")
        .item
          img(src="dist/images/header-sunset.jpg" alt="")
        .item
          img(src="dist/images/header-sunset.jpg" alt="")
    header
      h1.cog-header
        span.inner
          span Standar Post
    p.cog-blogPost-content This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    .separator
    p.cog-blogPost-meta
      span
        i.fa.fa-newspapper-o
        | June 15, 2013
      a(href="#" target="_blank")
        i.fa.fa-comments-o
        | 5 comments
    .separator
    .cog-comment
      .cog-comment-avatar
        .cog-comment-avatar-media
          img(src="dist/images/person.jpg" alt="")
        button.cog-comment-reply Reply
      .cog-comment-content
        h2.cog-comment-header Zoe Trent
        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    .cog-comment.cog-comment--withPadding
      .cog-comment-avatar
        .cog-comment-avatar-media
          img(src="dist/images/person.jpg" alt="")
        button.cog-comment-reply Reply
      .cog-comment-content
        h2.cog-comment-header Zoe Trent
        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    .cog-comment
      .cog-comment-avatar
        .cog-comment-avatar-media
          img(src="dist/images/person.jpg" alt="")
        button.cog-comment-reply Reply
      .cog-comment-content
        h2.cog-comment-header Zoe Trent
        p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.

  script
    $('.cog-blogPost').slimScroll({
    'height': 'auto',
    'size': 0
    })
  script
    $('.cog-blogPost-slick').slick()
