section#about.cog-content.toRight
  .inner
    .container
      .row
        .col.sm-10.offset-sm-1
          .header
            h2.cog-header
              span.inner
                span About
            p I am 24 polish guy who plays too much video games...
            p I work in createIT where I can create amazing websites and learn new stuff.
            p If im not playing or working (not much time left) I usually watch some series, read books, go to cinema or waste time on 9gag. I like comic book movies, all kinds of music (mostly Lidsey Stirling &lt;3) and Valve.
            .separator

          .main
            .cog-iconBox-container
              .cog-iconBox
                .cog-iconBox-icon
                  .cog-iconBox-icon-inner
                    i.fa.fa-connectdevelop
                .cog-iconBox-content
                  h3.cog-iconBox-header Modern Approach
                  p I always try to be up to date with all new web languages, technics and guidelines to make my websites the very best like no one ever has.
              .cog-iconBox
                .cog-iconBox-content
                  h3.cog-iconBox-header Clean Coding
                  p My code has beautiful formating and self explanatory class naming so even begginers can understand what is what.
                .cog-iconBox-icon
                  .cog-iconBox-icon-inner
                    i.fa.fa-code
            .separator
            .cog-slick-wrapper
              .cog-slick
                .item
                  p Just what I was looking for. Thank You!"
                  span - Lindsey F.
                .item
                  p I will recommend you to my colleagues."
                  span - Nicolina V.
                .item
                  p This is simply unbelievable! You won't regret it. I couldn't have asked for more than this."
                  span - Vin T.
