section#blog.cog-content.toLeft
  .inner
      .container
        .header
          h2.cog-header
            span.inner
              span Blog
        .main
          .cog-js-blog
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/H_9FrF-AxP9FHFF9y0RJ4sNJ5aWH7rKcVhG1OoU0pOI=w797-h82-no" alt="")
                .cog-blog-number
                  span 23
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/CI4bjRJL_qNVw-6UmxRjCE8WTac6kK1X6ZgIhgPHRSo=w797-h82-no" alt="")
                .cog-blog-number
                  span 19
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/4vMgEWsghJOQ242NtoYRlYn89n9GDyOIOkYVRGVV4Kc=w797-h82-no" alt="")
                .cog-blog-number
                  span 05
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/50YWw92gwcxsDQDqf_YHpdkur2ZSBTvate3f8EAz6ms=w797-h82-no" alt="")
                .cog-blog-number
                  span 17
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/KhFT34YcCCqLUiyghVjtVfw_Rjh0ICQKB7MEt16w_XA=w797-h82-no" alt="")
                .cog-blog-number
                  span 11
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/_ky--REPEJbYGXECpt7lcUMb5IpKK3w1kMK9se5oSmk=w797-h82-no" alt="")
                .cog-blog-number
                  span 02
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More
            //- ---------------------------------------------------------
            article.cog-blog
              .cog-blog-outer
                .cog-blog-media
                  img(src="https://lh3.googleusercontent.com/KrjpJuXMmbT1WTZV25XZApEYVWFqSlUYmesfi5QqHyM=w797-h82-no" alt="")
                .cog-blog-number
                  span 30
              .cog-blog-inner
                h3.cog-blog-header Standard Post with Preview Image
                p.cog-blog-meta June 15, 2013 / By
                  a(href="#" target="_blank")  Admin
                  |  in
                  a(href="#" target="_blank")  Creative Design
                .cog-blog-content
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five enturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  a.cog-ajax(href="dist/blog-01.html") Read More

