// ------------ Colors ------------ //

$motive =   #dddddd
$pink   =   #ed1380
$violet =   #433b8f
$blue   =   #0184cd
$green  =   #7cbc19
$yellow =   #ffbc00
$orange =   #f07502
$red    =   #C34A47

// Base colors //
white   =   #fff
black   =   #212121
grey    =   #727272
silver  =   #b6b6b6



// ------------ Typography ------------ //

$font-path      =   "../../dev/clockwork/font/"
$font-family    =   "Roboto", sans-serif
$icons-font     =   'font-awesome'
$icon-prefix    =   'mdi-'

// HTML font size for REM/EM calculations (1rem = 10px)
$base-font-size-mobile  =   1.3rem
$base-font-size-tablet  =   1.4rem
$base-font-size-desktop =   1.6rem

// Headers //
$headers-font-family  =  inherit
$headers-color        =  inherit
$headers-margin       =  0

h1, .h1
  font-size 11.2rem
h2, .h2
  font-size 5.6rem
h3, .h3
  font-size 4.5rem
h4, .h4
  font-size 3.4rem
h5, .h5
  font-size 2.4rem
h6, .h6
  font-size 1.6rem

// Links //
$link-color             =   $motive
$link-hover-color       =   $pink
$link-hover-decoration  =   none

// Blockquote //
$blockquote-border-width  =   5px
$blockquote-border-color  =   $motive

// Divider //
$divider-color  =   silver
$divider-height =   1px



// ------------ Globals ------------ //

tab-focus = false

// Navbar //
$navbar-height          =   64px
$navbar-height-mobile   =   56px
$navbar-font-size       =   inherit
$navbar-bg              =   $motive
$navbar-mobile-res      =   $screen-sm-max

// SideNav //
$sidenav-width          =   180px
$sidenav-color          =   white
$sidenav-text-color     =   black
$sidenav-hover-bg       =   $motive
$sidenav-hover-text     =   white

// The Grid //
$num-cols     = 12
$gutter-width = 30px

// Tables //
$table-border-color     =   $motive
$table-striped-color    =   $motive
$table-responsive-res   =   $screen-sm-max

// Input Effects //
$import-input-effect  =   type4
$input-margin         =   1.5em
$input-background     =   transparent
$input-color          =   $motive
$input-color-accent   =   black
$input-font-size      =   inherit
$input-font-weight    =   inherit

// ------------ Media Queries ------------ //

$screen-xs = 0
$screen-sm = 480px
$screen-md = 720px
$screen-lg = 1024px
$screen-xl = 1280px

$screen-xs-max = $screen-sm - 1
$screen-sm-max = $screen-md - 1
$screen-md-max = $screen-lg - 1
$screen-lg-max = $screen-xl - 1
