/* Morph Button: Default Styles */

.morph-wrapper {
	position: absolute;
  top: 0;
  left: 0;
}

.morph-wrapper.open .morph-content {
	pointer-events: auto;
  opacity: 1;
  border-radius: 0;
  top: 0 !important;
	left: 0 !important;
	width: 100vw;
	height: 100vh;
  transition:
    width 0.4s 0.1s,
    height 0.4s 0.1s,
    top 0.4s 0.1s,
    left 0.4s 0.1s,
    border-radius 0.3s,
    background 0.3s;

  > div {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s 0.5s;
  }
}

.morph-wrapper.active .morph-content {
  z-index: 1900;
  background: #ffdb5a;
  color: #222
}

.morph-content {
	pointer-events: none;
  width: 60px;
	height: 60px;
  position: fixed;
	z-index: 900;
	opacity: 0;
  overflow: hidden;
  border-radius: 50%;
  transition:
    opacity 0.3s 0.5s,
    width 0.4s 0.1s,
    height 0.4s 0.1s,
    top 0.4s 0.1s,
    left 0.4s 0.1s,
    margin 0.4s 0.1s,
    border-radius 0.4s 0.7s;

  > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  }
}
