@import 'type-01'
@import 'type-02'
@import 'type-03'
@import 'type-04'
@import 'type-05'
@import 'type-06'
@import 'type-07'
@import 'type-08'
@import 'type-09'
@import 'type-10'
@import 'type-11'
@import 'type-12'
@import 'type-13'
@import 'type-14'

.cog-input--type1
  type-01()

.cog-input--type2
  type-02()

.cog-input--type3
  type-03()

.cog-input--type4
  type-04()

.cog-input--type5
  type-05()

.cog-input--type6
  type-06()

.cog-input--type7
  type-07()

.cog-input--type8
  type-08()

.cog-input--type9
  type-09()

.cog-input--type10
  type-10()

.cog-input--type11
  type-11()

.cog-input--type12
  type-12()

.cog-input--type13
  type-13()

.cog-input--type14
//  @extend .cog-input
  type-14()
