$violet =   #433b8f
$orange =   #f07502
$green  =   #7cbc19
$blue   =   #0184cd
$red    =   #C34A47


@import './parts/content';
@import '../../node_modules/gemini-scrollbar/gemini-scrollbar.css'

html,
body
  width 100vw
  height 100vh
  overflow hidden
body
  margin 0
  background url('../assets/images/background.jpg')
  background-size cover
  background-attachment fixed
  font-size 15px
*
  box-sizing border-box

.portrait
  border 1px solid #ddd
  padding 1rem
  margin 0 auto
  display block
  width 50%
  max-width 20rem

.btn
  padding 15px
