

@import './variables';
@import './parts/content';
@import './parts/grid';
@import './parts/sidebar';

body
  width 100%
  overflow-x hidden
  overflow-y scroll
body
  margin 0
  background-size cover
  background-attachment fixed
  font-size 15px
  color white
  font-family 'Roboto', sans-serif
*
  box-sizing border-box
figure
  margin 0

.portrait
  border 1px solid #ddd
  padding 1rem
  margin 0 auto
  display block
  width 50%
  max-width 20rem

.btn
  padding 15px

/* helper class when showing content */
.noscroll {
  overflow: hidden;
}


.u-bg--violet
  background $violet
.u-bg--orange
  background $orange
.u-bg--green
  background $green
.u-bg--blue
  background $blue
.u-bg--red
  background $red
.u-bg--pink
  background $pink
