include parts/base
block body

  include parts/home

  #about.content.content--about: .content-inner
  #resume.content.content--resume: .content-inner
  #portfolio.content.content--portfolio: .content-inner
  #blog.content.content--blog: .content-inner
  #contact.content.content--contact: .content-inner
