include parts/base
block body

  include parts/home

  #about.content.content--about(data-move="left" data-position="center"): .content-inner
  #resume.content.content--resume(data-move="right" data-position="center"): .content-inner
  #portfolio.content.content--portfolio(data-move="left" data-position="center"): .content-inner
  #blog.content.content--blog(data-move="right" data-position="center"): .content-inner
  #contact.content.content--contact(data-move="left" data-position="center"): .content-inner
