/* Main content */
.main
  position relative
  z-index 50
  width 100%

  @media (min-width 1024px)
    width "calc(100% - %s)" % $sidebarWidth
    margin-left $sidebarWidth


/* Grid container */
.grid
  position relative
  min-height 100vh

/* Overlay */
.grid::after
  content ''
  background rgba(202, 202, 202, 0.4)
  opacity 0
  position absolute
  pointer-events none
  top 0
  left 0
  width 100%
  height 100%
  -webkit-transition opacity 0.5s
  transition opacity 0.5s

.view-single .grid::after
  opacity 1

/* Grid item */
.grid__item
  padding 55px 55px 30px
  position relative
  color inherit
  background #fff
  min-height 300px
  height 33.3333vh
  cursor pointer
  text-align center
  display flex
  flex-direction column
  justify-content center
  align-items center

/* Grid item "border" */
.grid__item::before
  position absolute
  content ''
  top 0px
  right 55px
  bottom 0px
  left 55px
  border-bottom 1px solid rgba(74, 74, 74, 0.075)

.grid__item *
  z-index 10

/* grid item element and full content element styles */
.title {
  margin: 0;
  font-size: 1.875em;
  font-weight 100
  text-align: center;
}

.title--preview {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.grid__item .fa
  font-size 60px
  margin-bottom 0.5em

.loader {
  height: 1px;
  width: 40%;
  margin: 1em auto;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
}

.loader::before
  content ''
  position absolute
  width 100%
  height 3px
  background #a4e7ad
  left 0
  top -1px
  transform scale3d(0, 1, 1)
  transform-origin 0% 50%


.grid__item--loading .loader::before
  transition transform 1s
  transition-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
  transform scale3d(1, 1, 1)


.grid__item > *
  transition: transform 0.2s, opacity 0.2s
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1)

/* closing (delays) */
.grid__item .fa
  transition-delay 0.2s
.title--preview
  transition-delay 0.15s
.loader
  transition-delay 0.1s

/* opening */
.grid__item--animate .title--preview
  transition-delay 0s
  opacity 0
  transform translate3d(0, -20px, 0)

.grid__item--animate .loader
  transition-delay 0.1s
  opacity 0
  transform translate3d(0, -30px, 0)

.grid__item--animate .fa
  transition-delay 0.15s
  opacity 0
  transform translate3d(0, -40px, 0)


@media (min-width 600px)
  .grid__item
    width 50%
    float left
