#home.content.content--home(data-position="center")
  .content-inner

    img.portrait(src="./assets/images/me.jpg", alt="Me")

    ul.menu#js-menu
      li: button.btn.btn--about(data-target="#about") About
      li: button.btn.btn--resume(data-target="#resume") Resume
      li: button.btn.btn--portfolio(data-target="#portfolio") Portfolio
      li: button.btn.btn--blog(data-target="#blog") Blog
      li: button.btn.btn--contact(data-target="#contact") Contact
